language: java
jdk:
  - oraclejdk8
  - oraclejdk9
  - openjdk10
  - openjdk11
addons:
  apt:
    packages:
    - xvfb
    - vnc-java
    - x11vnc
    - tightvncserver
env:
  - DSPLAY=:0
before_script:
  - pip install --user codecov

after_success:
  - bash <(curl -s https://codecov.io/bash)
